.ant-page-header {
  .ant-page-header-heading {
    .ant-page-header-heading-left {
      .ant-page-header-heading-title {
        font-size: 28px;
        font-weight: 500;
        color: gray !important;
      }
    }
  }

  .ant-page-header-content {
    .ant-breadcrumb {
      .ant-breadcrumb-link {
        font-weight: bold !important;
        color: gray;
      }
    }
  }
}