@import "src/style/color";

.ant-popover {
  .ant-popover-content {
    .ant-popover-arrow {
      .ant-popover-arrow-content {
        display: none;
      }
    }

    .ant-popover-inner {
      .ant-popover-inner-content {
        padding: 0px;

        // HEADER
        .content-list-account {
          padding: 8px;
          color: gray;
          font-size: 13px;

          .item {
            padding: 3px 18px;
            transition: all 0.2s ease-in;
            cursor: pointer;
            border-bottom: 1px solid $light-gray;
            width: 150px;

            &:last-child {
              border: none;
            }

            &:hover {
              background-color: $light-gray;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

.ant-popover-placement-bottom {
  top: 48px !important;
}