$bg-thumb: rgba(114, 105, 239, 0.25);
$bg-thumb2: rgb(199, 196, 255);
$bg-track: rgb(255, 255, 255);

$height-loading: 3px;

@keyframes animation-loading {
  0% {
    left: 0;
    background: linear-gradient(45deg, $bg-thumb 0%, $bg-thumb2, $bg-thumb);
  }
  25% {
    background: linear-gradient(45deg, $bg-thumb 25%, $bg-thumb2,$bg-thumb);
  }
  50% {
    background: linear-gradient(45deg, $bg-thumb 50%, $bg-thumb2, $bg-thumb);
  }
  75% {
    background: linear-gradient(45deg, $bg-thumb 75%, $bg-thumb2,$bg-thumb);
  }
  100% {
    left: 110%;
    background: linear-gradient(45deg, $bg-thumb 100%, $bg-thumb2, $bg-thumb);
  }
}

.loading-line-component {
  height: $height-loading;
  width: 100%;
  border-radius: 4px;
  background-color: $bg-track;
  overflow: hidden;
  position: relative;

  &__thumb {
    height: $height-loading;
    width: 10%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    animation-name: animation-loading;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
}