@mixin box-shadow1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@mixin box-shadow2 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}


@mixin box-shadow3 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}


@mixin box-shadow4 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

@mixin box-shadow5 {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

@mixin box-shadow6 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@mixin box-shadow7 {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}