@import "src/commons/editor/EditorComponent";
@import "custom-antd/button";
@import "custom-antd/form";
@import "custom-antd/page-header";
@import "custom-antd/Popover";
@import "custom-antd/breadcrumb";
@import "mixin";

@import "src/modules/login/Login";

//STYLE COMMONS
//FONT
.font-bold {
  font-weight: bold;
}

//END FONT

//FLEX
.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-item-center {
  align-items: center;
}

.align-item-end {
  align-items: flex-end;
}

.align-item-baseline {
  align-items: baseline;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

//END FLEX

//SCROLL STYLE
.scroll-custom {
  @include custom-scroll;
}

//END SCROLL STYLE

// PADDING
.style-box {
  padding: 16px;
}

// END PADDING

// MARGIN
.mr-16 {
  margin-right: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-32 {
  margin-top: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mr-8 {
  margin-right: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mr-24 {
  margin-right: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

// END MARGIN

// ICON
i {
  cursor: pointer;
}

// END ICON

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  color: gray !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}